<div class="row">
	<aside class="col-md-3 hidden-sm hidden-xs">
		<h2>Basic Information</h2>
		<p>Class Time: MoWe 9:30-10:50</p>
		<p>Slack: <a href="https://uci-inf241-wi21.slack.com">https://uci-inf241-wi21.slack.com</a></p>
		<p>Email: <a href="epstein@ics.uci.edu">epstein@ics.uci.edu</a></p>
		<p>Office hours: By appointment, and as scheduled for project meetings</p>
		<h2>Course Staff</h2>
		<a href="http://depstein.net">Professor Daniel Epstein</a>
		<img class="d-none d-lg-block" src="assets/images/epstein.jpg" alt="" width="200px">
	</aside>
	<main class="col-md-9 col-sm-12">
		<p>Welcome! This class focuses on understanding and interpreting the move of computing towards ubiquitous devices. Computing today is more than a desktop for every office worker. Today, people interact with a range of devices as they move through the world. The recent explosion of devices, often grouped under the "internet of things" moniker, has stretched the concept to the point where it is hard to define. Together, we will explore what it means for computing to truly be Ubiquitous.</p>
		<p>The course project will require hands-on experience with Ubiquitous Computing, which remaining open to different possibilities. You might choose to design and implement a new Ubiquitous Computing technology. You might choose to study and understand a ubiquitous example of technology.</p>
		<p><strong>This course will require a substantial amount of reading</strong>, as well as some design and implementation work (which you can choose based on your background). While there will be a few lectures dedicated to the creation of ubiquitous computing technology, in most weeks we will instead look to understand the research literature through discussion and make new contributions through projects. We expect that you will pick up the implementation skills you use in your course projects elseware.</p>
		<p>We will emphasize open discussion and feedback in all aspects of the course.</p>
		<h2>Readings</h2>
		<p>Assigned readings will focus on research topics, generally consisting of:</p>
		<ul>
			<li>One or a few <em>historic framing papers</em>: presenting a theory, language, or understanding that can help in understanding and contextualizing the contributions of additional research.</li>
			<li>One or two papers that provide <em>more recent or specific contributions</em>: presenting the type of contribution you might initially be expected to attempt in your research.</li>
		</ul>
		<p>You are expected to read both. The calendar will link to assigned readings and provide any day-specific revisions to this reading structure. You are expected to have read and considered the assigned readings prior to class, as the in-class discussions are a critical component of this course.</p>
		<h2>Reading queries</h2>
		<p>To help prepare for an engaging and meaningful discussion, we require posting a thought or question beforehand. You can start a new discussion, participate in an existing discussion, or a bit of both. You can discuss all of the assigned readings, or focus on a portion of the reading that you found most interesting. The important part is that we can see intellectual effort in your participation, moving beyond a paper summary to something which felt interesting or unusual, or something you were unsure about.</p>
		<p>Reading queries can be short, verging on a sentence or two. Your participation in the Slack discussion for each day will be graded on a binary scale based on on-time participation.</p>
		<p>Reading queries are due at 11:59pm the night before each class meeting. This ensures time the next day to review discussion before class. Submitting the day of class, just before class, or in class is therefore unacceptable, risking zero credit. But feel free to continue a discussion after this, even after class.</p>
		<h2>Leading discussion</h2>
		<p>You will lead the discussion once during the quarter. Though it might be tempting to split the responsibility by reading, this is not ideal because (1) the same framing readings will be discussed in two groups, and (2) the current readings are intended to have connections to the framing readings. It is therefore recommended that you split the current readings in your group, but all be prepared to lead the discussion of the framing readings. In reality, your role as a leader is quite similar to your role any other week. But you will be expected to be more of an expert on that week's readings.</p>
		<p>Leading discussion consists of:</p>
		<ul>
			<li>Presenting the day's assigned readings (more below)</li>
			<li>Serve as a the resident "expert" on the topic, examining the readings in more depth than a typical week</li>
			<li>Referencing questions discussed in the reading queries</li>
		</ul>
		<p>One participant will sign up to present the day's assigned readings. Discussion of each reading will begin with this presentation. Unless advised otherwise, presentation should focus on the context of an assigned reading. All of your classmates will have read the paper, so do not simply present a summary of the paper. This might include:</p>
		<ul>
			<li>Information about the researchers involved in the work.</li>
			<li>Key research that preceded or informed the assigned reading.</li>
			<li>Key research that followed or was informed by the assigned reading (this may be brief for modern readings).</li>
		</ul>
		<p>For calibration, we expect students to spend 60 to 90 minutes researching the context of a paper. We then expect presentations will be 5 to 10 minutes. As part of preparation, the presenter should share any additional resources or slides they create.</p>
		<p>As part of leading discussion, you must select a current reading. It is recommended that the readings come from <a href="https://imwut.acm.org/">IMWUT</a>, but other venues related to Ubiquitous Computing are also potentially welcome. We have compiled <a href="https://docs.google.com/document/d/10KOPKxEkOaiH2UDmzFAertdNhm05zlFYWf8TZS6yiTY/edit?usp=sharing">some recommendations</a> from the most recent conference. You may suggest a reading not on this list. All readings must be fairly recent (e.g., in the last 3 years). To give your classmates time to complete the reading, you must confirm your selected readings with the instructor a week before the class. Feel free to confirm earlier.</p>
		<h2>Assignments</h2>
		<p class="tbd">This course will have two assignments which will give you an opportunity to explore common aspects of ubiquitous computing research. You can choose between design and development in each assignment (or both, if you choose).</p>
		<h2>Project</h2>
		<p>A course project will be a major component of your work. Details about the project are <a href="./project">here</a>. Dates are also linked from the course calendar. A Slack channel will be created with some sample project ideas. You can also use that discussion to identify potential project partners and post your own ideas.</p>
		<h2>Grading</h2>
		<p>Grades will roughly correspond to:</p>
		<ul>
			<li>50% Group project</li>
			<ul>
				<li>5% Project proposal</li>
				<li>10% Milestone report & presentation</li>
				<li>35% Final report & presentation</li>
			</ul>
			<li>20% Assignments</li>
			<ul>
				<li>10% Assignment 1</li>
				<li>10% Assignment 2</li>
			</ul>
			<li>10% Reading reports</li>
			<li>10% Leading discussion</li>
			<li>10% Participation</li>
		</ul>
		<p>Most of the grading in this course is necessarily subjective. We will attempt to communicate expectations and feedback throughout the course, but it is your responsibility to communicate with us if you would like guidance in this regard. Project milestone grading will emphasize progress and preparation to engage with direction and feedback. Final project report grading will then consider the overall execution.</p>
		<h2>Repository</h2>
		<p>This website is live on GitHub: <a href="https://github.com/uci-inf-241/inf241-wi21" target="_blank">https://github.com/uci-inf-241/inf241-wi21</a>. You can create issues if information is unclear, incorrect, or out-of-date. You can even submit a pull request to resolve them yourself!</p>
		<h2>Acknowledgments</h2>
		<p>This course draws inspiration from Ubiquitous Computing courses developed by <a href="mayankgoel.courses">Mayank Goel</a> and <a href="https://jonfroehlich.github.io/">Jon Froehlich</a>. Thanks!</p>
	</main>
</div>